.bottom__buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0% 5%;
}

.bottom__buttons button {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2vw;
  width: 4vw;
}
.bottom__buttons button:not(:first-child):not(:last-child) {
  font-size: 1vw;
  width: 10vw;
}
