.menu-item {
  height: 16.5%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-bottom: 1px solid var(--paragraph-gray);
  margin-bottom: 3%;
}

.menu-item h2 {
  font-size: 1.3vw;
  color: black;
}

.menu-item div {
  display: flex;
  justify-content: space-between;
}

.menu-item p {
  margin: 2% 0%;
  font-size: 0.9vw;
  width: 90%;
}
