footer {
  display: flex;
  margin-bottom: 10%;
  width: 100%;
  justify-content: space-between;
}

.footer-block h2 {
  font-size: 2vw;
  color: var(--text-blue);
  margin: 5% 0%;
}

.footer-block span {
  font-size: 1vw;
}
